* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* align-items: center; */
}
/* .grid:last-child {
  margin-bottom: 9.6rem;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
/*comment: not:(:last-child)
除了括号内的元素 其他都有属性 
if it is not the last-child of the grid container*/
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  /* comment如果是4个top right bottom left OR
  如果是两个 top&bottom left&right*/
  padding: 4.8rem 0 9.6rem;
  /* comment:如果时候3个 top/horizontal/left */
}

.hero {
  max-width: 130rem;
  /*comment:
  区别其实就是一个是固定，一个是根据窗口大小自适应。 
  width:固定宽度。 
  max-width:窗口宽度超过max-width就按照max-width宽度，
  如果窗口宽度小于max-width，就按照窗口宽度。*/
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: none;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  letter-spacing: -0.5px;
  font-weight: 900;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  margin-top: 0;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-weight: 900;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.subheading {
  padding-top: 100px;
  display: block;
  /* comment:
  span是行元素 无语义信息 p是block元素 相当于把span转成p*/
  font-size: 1.6rem;
  font-weight: 800;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: background-color 1s;
  /* only for botton */
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
  margin-right: 1.6rem;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #555;

  /*border: 3px solid #fff;*/
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
  align-self: end;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.hero-img {
  width: 100%;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

/* comment:
currentColor是当前文本的颜色 */
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
  /*comment:
   设置为 transparent 是为了抵消link:link 中 border为1px的影响 */
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
}
strong {
  font-weight: 600;
}

/* comment:
  align-items : center 是从水平方向进行对齐
  justify-items: center 是垂直平方向进行对齐
  */
*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: inset 0 0 0 0.8rem #e67d2279;
}
/* comment：当鼠标悬停到输入框时 有个蓝色的框，
但不是border，而是outline, 此时就是focus模式
但是简单的设置outline：none会让Tab的选框消失*/
